
.head1 {
    color: turquoise;
    font-size: xxx-large;
    margin-top: 8%;

}


.container {
    margin-top: 5%;
    width: 500px;
    height: 520px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.box {
    width: 250px;
    height: 100px;
    background-color: teal;
    margin: 1px;
    border-radius: 10px;
    transition: all 0.5s;
    border: 10px solid teal;
    color: white;
    font-size: xx-large;
   
}

.box:hover{
    border-color: turquoise;
}
